<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Home</title>
</head>

<body>
  <p align="center">
    <img src="/nest.svg" width="320" alt="Nest Logo" />
  </p>
  {{ message }}
</body>

</html>